[submodule "vim/bundle/fzf.vim"]
	path = vim/bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "vim/bundle/coc.nvim"]
	path = vim/pack/coc/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
