@import 'themes/gruvbox';

* {
  border: none;
  font-family: Noto Sans, sans-serif;
  font-size: 13px;
}

window#waybar {
  /* background-color: rgba(18, 21, 29, 0.98); */
  background-color: $color-bg;
  /* background-color: rgba(0, 0, 0, 0); */
  border-bottom: 3px solid $color-bottom-border;
  color: $color-fg;
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

/* 
    Apply padding if emojis are rendered too tall:
    padding: 4px 10px 0px 10px;
*/

#workspaces,
#mode,
#cpu,
#memory,
#custom-cpu_temp,
#custom-gpu_temp,
#custom-media,
#custom-fans,
#idle_inhibitor,
#language,
#pulseaudio,
#backlight,
#battery,
#network,
#tray {
  background-color: $color-tray-bg;
  padding: 0 10px;
  margin: 2px 0px 5px 0px;
  border: 3px solid rgba(0, 0, 0, 0);
  border-radius: 90px;
  background-clip: padding-box;
}

#workspaces button {
  padding: 0 5px;
  min-width: 20px;
  color: $color-button;
}

#workspaces button:hover {
  background-color: rgba(0, 0, 0, 0.2)
}

#workspaces button.focused {
  color: $color-button-selected;
}

#workspaces button.urgent {
  color: $color-button-alert;
}

#custom-cpu_temp {
  color: $color-button-cpu;
}

#custom-gpu_temp {
  color: $color-button-gpu;
}

#memory {
  color: $color-button-mem;
}

#temperature {
  color: $color-button-temp;
}

#temperature.critical {
  background-color: $color-temp-crit-bg;
  color: $color-temp-crit-fg;
}

#custom-media {
  background-color: $color-media-bg;
  color: $color-media-fg;
}

#clock {
  color: $color-clock;
}

#idle_inhibitor {
  color: $color-idle;
}

#idle_inhibitor.activated {
  background-color: $color-idle-on-bg;
  color: $color-idle-on-fg;
}

#language {
  color: $color-lang;
}

#pulseaudio {
  color: $color-pulseaudio;
}

#pulseaudio.muted {
  background-color: $color-pulseaudio-mute-bg;
  color: $color-pulseaudio-mute-fg;
}

@keyframes blink {
    to {
        background-color: $color-keyframes-bg;
        color: $color-keyframes-fg;
    }
}

#network {
    color: $color-network;
}

#network.disconnected {
    background-color: $color-network-off-bg;
    color: $color-network-off-fg;
}
