$color-bg: #282828;
$color-fg: #ebdbb2;

$color-bottom-border: #3c3836;
$color-tray-bg: #3c3836;

$color-button: #3a8edb;
$color-button-selected: #d052a0;
$color-button-alert: #ff598e;

$color-button-cpu: #ff9e35;
$color-button-gpu: #44c27f;
$color-button-mem: #d052a0;
$color-button-temp: #ff9e35;

$color-temp-crit-bg: #ff598e;
$color-temp-crit-fg: #1d2021;

$color-media-bg: #d052a0;
$color-media-fg: #1d2021;

$color-clock: #ff9e35;
$color-idle: #928374;
$color-idle-on-bg: #928374;
$color-idle-on-fg: #1d2021;

$color-lang: #44c27f;
$color-pulseaudio: #3a8edb;
$color-pulseaudio-mute-bg: #ff598e;
$color-pulseaudio-mute-fg: #1d2021;

$color-keyframes-bg: #3c3836;
$color-keyframes-fg: #ff598e;

$color-network: #eb4fa1;
$color-network-off-bg: #ff598e;
$color-network-off-fg: #1d2021;

