$color-bg: #12151d;
$color-fg: #abb2bf;
$color-bottom-border: #1e222a;
$color-tray-bg: #1e222a;
$color-button: #61afef;
$color-button-selected: #c678dd;
$color-button-alert: #e06c75;
$color-button-cpu: #61afef;
$color-button-gpu: #73ff8a;
$color-button-mem: #c678dd;
$color-button-temp: #d19a66;
$color-temp-crit-bg: #e06c75;
$color-temp-crit-fg: #1e222a;
$color-media-bg: #c678dd;
$color-media-fg: #1e222a;
$color-clock: #61afef;
$color-idle: #abb2bf;
$color-idle-on-bg: #abb2bf;
$color-idle-on-fg: #1e222a;
$color-lang: #56b6c2;
$color-pulseaudio: #d19a66;
$color-pulseaudio-mute-bg: #e06c75;
$color-pulseaudio-mute-fg: #1e222a;
$color-keyframes-bg: #1e222a;
$color-keyframes-fg: #e06c75;
$color-network: #c678dd;
$color-network-off-bg: #e06c75;
$color-network-off-fg: #1e222a;

